{%  load static %}

{% block head %}
	<title>Register</title>
	<link rel='stylesheet' href="{% static 'style2.css'%}">
{% endblock %}

{% block body %}
</br>
<div class="container">
	<div class="wrapper fadeInDown">
			<div id="formContent">
			<div class="container">
				<form method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<input class="button btn btn-primary" value="submit" type="submit"/>
				</form>
				<p>Already have an account? <a href="{% url 'login' %}"> Login </a> </p>
			</div>
		</div>
	</div>
</div>
{% endblock %}