{%  load static %}

{% block head %}
	<title>Success</title>
  <link rel="stylesheet" href="://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel='stylesheet' href="{% static 'style2.css'%}">
{% endblock %}

{% block body %}
<div class="wrapper fadeInDown">
  <div id="formContent">
<h1> Payment successfull </h1>
<a href='{% url 'dashboard' %}'>
  <button type="button" class="btn btn-info"> Go back to dashboard </button>
</a>
</br>
</div>
</div>
{% endblock %}